/* Selector universal */
*{
    padding: 0;
    margin: 0;
    
    
    
    
    }
    
    /* Selector de etiqueta */
    
    body{
    background-color:  #f1ecea ;
    width: 1500px;
    margin: 0px auto;
    
    
    }
    
    /* Selector de clase */
    .texto{
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding: 5px 20px;
        color: white;
    
    }
    
    .img{
        width: 155px;
        height: 120px;
        padding: 20px;
        border-radius: 5px;
        justify-items: center;
    }
    
    .encabezado-articulo{
        padding: 10px;
        text-align: center;
        background-color: rgb(83,152,87);
        color: rgb(255,255,255);
        margin: 1em 2em;
        border-radius: 5px;
    }
    
    .encabezado-aside{
        padding: 10px 10px;
        text-align: center;
        background-color: rgb(89,161,81);
        color: white;
        margin: 1em 2em;
    }
    .menu-aside{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        display: inline-block;
        padding: 0,20px;
        
    }
    .lista-aside{
        padding: 5px;
    
    }
    .lista-aside li{
    display: list-item;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color :#ffffff
    
    
    }
    
    
    /* selector id */
    
    #contenedor{
        width: 70%;
        height: 100%;
        background-color: #362f2f;
        max-width: 0 auto;
        border-radius: 10px;
        display: inline-block;
    }
    #contenedorp{
        width: 1500px;
    }
    
    #encabezado{
        width: 15%;
        background-color:  #362f2f ;
        color: white;
        margin: 1em;
        border-radius: 5px;
        padding: 0 10px;
    
    }
    
    #menu{
        height: auto;
        width: 100%;
        background-color: #b46424;
        border-radius: 5%;
        display: flex;
        flex-direction: row;
        flex-direction: column;
        align-items: center;
        
    }

    #menu > ul{
        display: block;
        margin: 0px auto;
        width: 100px;
        text-align: center;

    }

    #menu > ul > li {
        display: inline-block;
        padding: 20px;
        
    }

    #menu > ul >li >a {
        display: block;
        margin: 5px;
    }
    
    #contenido{
        width: 64%;
        height: 648px;
        background-color:  #362f2f;
        margin: 0em;
        display: inline-block;
        border-radius: 0px;
        text-align: center;
    }
    
    #fueraseccion{
        height: 872px;
        width: 35%;
        margin: 0em;
        background-color:#b58c7c;
        color: white;
        display: inline-block;
        vertical-align: top;
        
    
    }
    
    #pie{
        height: 10%;
        width: 99%;
        background-color: #3a251c;
        color: white;
        /*margin: 1.5em;*/
        text-align: center;
        padding: 5px;
    }
    #pie h4 {
        padding: 15px;
        font-size: 30px;
    
    }
    
    /* selector de etique */
    
    ul{
        margin-left: 150px;
        text-align: left;
        padding: 5px;
    }
    li{
        display: inline;
    
    }
    li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
    }
    
    @media screen and (max-width: 750px) {
        body{
            background-color: black;

        }
        .texto{
            font-size: 16px;
            padding: 5px 15px;
        }
        .encabezado-articulo
        .encabezado-aside{
            padding: 5px;
            margin: 0.5em 1em;
        }
        #contenedor{
            width: 45%;
        }
        #encabezado,
        #menu,
        #contenido,
        #fueraseccion{
            width: 97%;
            margin: 0.5em 0;
        }

    }

