* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8f5ff;
}

.texto {
    width: 500px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
}

.portada {
    width: 100%;
    display: flex; /* Utilizamos 'display: flex' para centrar los elementos de la portada */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

.imgheader {
    width: 150px;
    justify-items: center;
}

.img {
    width: 100px;
    justify-items: center;
}

.icono {
    width: 128px;
    height: 128px;
    justify-items: center;
    display: inline-block;
    text-align: center;
}

#menu {
    height: 5%;
    background-color: rgb(95, 134, 207);
    margin: 1.5em;
    border-radius: 5px;
}

#contenedor {
    width: 75%;
    border-radius: 10px;
    background-color: #e8f5ff;
    text-align: center;
    margin: 0 auto; /* Centramos el contenedor horizontalmente */
}

#contenido {
    margin: 0.5em;
    background-color: rgb(95, 134, 207);
    border-radius: 5px;
    text-align: center;
    height: 10%;
}

#contenido2 {
    margin: 0.5em;
    width: 46%;
    background-color: #cadffb;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    justify-items: center;
}

#pie {
    height: 1%;
    background-color: rgb(95, 134, 207);
    color: black;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

ul {
    text-align: center;
    padding: 1.5px;
}

li {
    display: inline;
    padding: 10px 30px;
    
}

/* Media query para pantallas más pequeñas que 750px */
@media screen and (max-width: 750px) {
    body{
        background-color: black;
    }
    .texto {
        width: 80%;
        margin: 0 auto;
    }

    #contenedor {
        width: 100%;
        max-width: 1000px;
    }

    #contenido2 {
        width: 80%;
        margin: 0 auto;
    }

    #portada {
        flex-direction: column; /* Cambiamos la dirección de los elementos de la portada a columna */
        align-items: flex-start; /* Alineamos los elementos a la izquierda */
    }

    #menu {
        text-align: center; /* Centramos el texto del menú */
    }
}