/* Selector universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Añade esta línea para evitar problemas con los márgenes y el padding */
  }
  
  /* Selector de etiqueta */
  body {
    background-color: #e6edd9;
    color: white;
  }
  
  /* Selector de clase */
  .texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000000;
  }
  
  .img {
    width: 100px;
    border-radius: 5px;
    justify-items: center;
  }
  
  .encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 152, 87);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
  }
  
  .encabezado-aside {

    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1em 2em;
  }
  
  .menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: inline-block;
    padding: 0, 20px;
  }
  
  .lista-aside {
    padding: 10px;
  }
  
  .lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #0000; /* Agrega un valor de color válido */
  }
  
  /* Selector id */
  #contenedor {
    width: 70%;
    height: 100%;
    background-color: #dee0b7;
    max-width: 0 auto;
    border-radius: 5px;
    display: inline-block;
  }
  
  #encabezado {
    width: 80%;
    background-color: #84774e;
    margin: 1em;
    border-radius: 5px;
    padding: 0 50px;
  }
  
  #menu {
    height: 5%;
    background-color: #73815b;
    margin: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
  }
  
  #contenido {
    height: 75%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }
  
  #fueraseccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    background-color: #b5bf9a;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
  }
  
  #pie {
    height: 10%;
    background-color: #b5bf9a;
    margin: 0.1em;
    text-align: center;
    padding: 5px;
  }
  
  #pie h4 {
    padding: 15px;
    font-size: 30px;
  }
  
  /* Selector de etiqueta */
  ul {
    text-align: center;
    padding: 10px;
  }
  
  li {
    display: inline;
    margin: 3em;
  }
  
  li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
  }
  
  @media screen and (max-width: 850px) {
    body {
      background-color: black;
    }
  
    .texto {
      font-size: 16px;
      padding: 5px 15px;
    }
  
    .encabezado-articulo,
    .encabezado-aside {
      padding: 5px;
      margin: 0.5em 1em;
    }
  
    #contenedor {
      width: 90%;
    }
  
    #encabezado,
    #menu,
    #contenido,
    #fueraseccion {
      width: 100%;
      margin: 0.5em 0;
    }
  }