/*selector universal */

*{
    padding: 0;
    margin: 0;
}

/*Selector de etiqueta*/

body {
    background-image: url(/img/Fondoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: rgb(63, 58, 58);
}

.Encabezado-titulo{
    padding: 10px;
    text-align: center;
 
   
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: inline-block;
    padding: 0,20px;
}
.img{
    width: 400px;
    height: 300px;
    border-radius: 5px;
    justify-items: center;
}

#contenedor{
    width: 50%;
    height: 100%;
    max-width: 0 auto;
    background-color: #f5e1ce79;
    color: white;
    list-style: none;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#contenedor-alu{
    width: 100%;
    height: 200%;
    max-width: 0 auto;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
#contenedor-pra{
    width: 50%;
    height: 100%;
    background-color: azure;
    max-width: 0 auto;
    border-radius: 5px;
    

}
#contenedor-header{
    background-color: azure;
}
#menu{
    height: 5%;
    margin: 1em;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;

}
li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
  }

  @media screen and (max-width: 750px){

    #contenedor{
        width: 100%;
    }
}